@page
@model SetupModel
@{
    ViewData["Title"] = "Setup page";
}

<h1>Setup</h1>

<form action="" method="POST">
    <div>
        <label>E-mail:</label>
        <input type="email" name="email">
    </div>
    <div>
        <label>Nome:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Criar tabelas</button>
</form>